---
---

#custom-banner
{
    background-image: url('/banner.png');    
    background-position: center;
    font-size: 40;
}

.center-txt
{
    text-align: center;
}

@import "{{ site.theme }}";

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.button:hover {
  font-size:120%;
}

.button {
  border-radius: 5px;  
}