---
---

#custom-banner
{
    background-image: url('/banner3.png');    
    background-position: center;
    font-size: 40;
}

@import "{{ site.theme }}";

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.center-txt
{
    text-align: center;
    color: #2596be;
}